[Unit]
Description=Factorio Server
After=cloud-final.service

[Service]
EnvironmentFile=/etc/factorio/factorio-environment
ExecStart=/opt/factorio/bin/x64/factorio $SAVE_GAME_ARG --server-settings /etc/factorio/server-settings.json --server-adminlist /etc/factorio/server-adminlist.json
WorkingDirectory=/opt/factorio
Restart=on-failure
Type=simple
User=factorio
KillSignal=SIGINT
ProtectHome=yes
ReadWritePaths=/opt/factorio
PrivateTmp=true

[Install]
WantedBy=multi-user.target
