[Unit]
Description=Factorio Server

[Service]
ExecStart=/opt/factorio/bin/x64/factorio --start-server-load-latest --server-settings /etc/factorio/server-settings.json
WorkingDirectory=/opt/factorio
Restart=on-failure
Type=simple
User=factorio
KillSignal=SIGINT
ProtectHome=yes
ReadWritePaths=/opt/factorio
PrivateTmp=true
After=cloud-final.service

[Install]
WantedBy=multi-user.target
