[Unit]
Description=Factorio Server

[Service]
ExecStart=/opt/factorio/bin/x64/factorio --start-server-load-latest --server-settings /etc/factorio/server-settings.json
WorkingDirectory=/opt/factorio
Restart=on-failure
Type=simple
User=factorio
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
